<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content= "width=device-width, initial-scale=1")
		title Hero
		link(rel="stylesheet", href="style.css")
	body.background_image
		header
			nav
				.nav_logo
					.logo_small
				ul
					li.active
						a(href="") Home
					li
						a(href="") About
					li
						a(href="") Blog
					li
						a(href="") Portfolio
					li
						a(href="") Contact
				.triangle.u-cf
					.triangle_inner
		.container.center_items
			.logo
				img(src="../img/roberto.png", alt="")
				span Your friendly rider
			.banner
				.sub_tagline
					span Negros Occidental, Philippines
				.tagline
					h1 
						span Explore The World, 
						span Be An Adventurer, 
						span Believe In Yourself.
				a(href="").btn Read Story
	script(src="../js/jquery-2.1.4.min.js")
	script(src="slidingSideBarNav.js")
	