<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport" content= "width=device-width, initial-scale=1")
	title Black and White
	link(rel="stylesheet", href="style.css")
body.background_image
	header.cf
		nav
			ul
				li.active
					span
					a(href="") Home
				li
					span
					a(href="") About
				li
					span
					a(href="") Blog
				li
					span
					a(href="") Portfolio
				li
					span
					a(href="") Contact
		.logo
			h2 ROBERT<span>O</span>
		ul.latest_blogs
			span Latest News
			li.blog_1
				a(href="") We must enjoy everyday we live and breathe
			li
				a(href="") Gonna live while we're young
	.cta
		.cta_title  Lorem ipsum dolor sit amet.
		.cta_content  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor molestiae blanditiis earum, inventore aperiam debitis ut consequuntur incidunt dolore qui.
		a(href="").cta_btn learn more
	